{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Guruhlar Jadvali</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        <a href="/" class="back-btn" style="color: #2563eb;"><i class="fas fa-arrow-left"></i></a>
        <h2><i class="fas fa-users"></i> Guruhlar Ro'yxati</h2>

        <table>
            <thead>
                <tr>
                    <th><i class="fas fa-tag"></i> Nomi</th>
                    <th><i class="fas fa-book"></i> Fan</th>
                    <th class="otme"><i class="fas fa-clock"></i> Vaqti</th>
                    <th class="otme"><i class="fas fa-chalkboard-teacher"></i> O‘qituvchi</th>
                    <th><i class="fas fa-cogs"></i> Amallar</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>{{ group.department }}</td>
                    <td class="otmen">{{ group.time }}</td>
                    <td class="otmen">{{ group.professor }}</td>
                    <td>
                        <a class="btn btn-davomat" href="{% url 'mark_attendance' group.id %}">
                            <i class="fas fa-check-square"></i> Davomat
                        </a>
                        <a class="btn btn-tolov" href="{% url 'students_in_group' group.id %}">
                            <i class="fas fa-coins"></i>
                            To‘lov
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>
