{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  
  <form action="/login/" method="post">
    {% csrf_token %}
    <h3>Login Here</h3>
    <div class="form-group">
      <label>Username</label>
      {{ login_form.username }}
    </div>
    <div class="form-group">
      <label>Parol</label>
      {{ login_form.password }}
    </div>
    <button>Log In</button>
  </form>

  <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
</body>
</html>