/* Umumiy sozlamalar */
body {
    font-family: 'Segoe UI', sans-serif;
    background:#1d0f3c;
    margin: 0;
    padding: 20px;
}

.table-container {
    background-color: rgba(29, 15, 60, 0.6);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    max-width: 1000px;
    margin: auto;
    overflow-x: auto;
}

h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    font-size: 15px;
    color: white;
}

th {
    background-color: #090741;
    color: yellow;
}

tr:nth-child(even) {
    background-color: rgba(29, 15, 60, 0.6);
    color: white;
}


.btn {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    margin-right: 6px;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s;
}

.btn-davomat {
    background: linear-gradient(135deg, #8600ff, #bb00ff);
}
/* tugmaga */


.btn-tolov {
    background: linear-gradient(135deg, #0d00ff, #bb00ff);
}

.btn-tolov:hover {
    background-color: #2563eb;
}

/* Orqaga chiqish tugmasi */
.back-btn {
    display: inline-block;
    margin-bottom: 15px;
    color: white !important;
    text-decoration: none;
    font-size: 30px;
    background-color: rgba(29, 15, 60, 0.6);
    padding: 10px 30px;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.back-btn i {
    margin-right: 5px;
}


/* TELEFON EKRANLAR UCHUN KICHIK VERSIYA */
@media screen and (max-width: 500px) {
    th, td {
        font-size: 9px;
        padding: 6px 8px;
    }

    .btn {
        font-size: 7px;
        padding: 4px 8px;
        border-radius: 4px;
        margin-bottom: 3px;
    }

    .btn i {
        font-size: 13px;
    }

    .back-btn {
        font-size: 22px;
        padding: 5px 14px;
    }

    .back-btn i {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    table {
        min-width: 100%;
    }
    i{
        font-size: 11px !important;
    }
}
/* OTME (yoki otmen) klassiga ega ustunlar telefon ekranida ko‘rinmasin */
@media screen and (max-width: 500px) {
    .otme, .otmen {
        display: none;
    }
}
